<% if @book.errors.any? %>
<div class="error">
  <p class="error-count">
    <%= @book.errors.count %>errors prohibited this book from being saved:
  </p>
  <ul class="error-contents">
      <% @book.errors.full_messages.each do |message| %>
      <li class="error-message">
        <%= message %>
      </li>
      <% end %>  
    </li>
  </ul>
</div>
<% end %>

<h1 class="edit-heading">Editing Book</h1>
<%= form_with model:@book, local:true do |f| %>
  <div class="field">
    <%= f.label :title, 'Title', class: "book_title" %>
    <%= f.text_field :title, class: "book_title" %>
  </div>
  <div class="field">
    <%= f.label :body, 'Body', class: "book_body" %>
    <%= f.text_area :body, class: "book_body" %>
  </div>
  <%= f.submit 'Update Book', class: "btn" %>
<% end %>
<div class="show-back">
  <%= link_to "Show", book_path(@book) %>
  <!--EditとBackの間の棒-->|
  <%= link_to "Back", books_path %>
</div>

