<% if @book.errors.any? %>
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<h1 class="edit-heading">Editing Book</h1>
<%= form_with model:@book, local:true do |f| %>
  <div class="edit-content">
    <p>Title</p>
    <%= f.text_field :title %>
  </div>
  <div class="edit-content">
    <p>Body</p>
    <%= f.text_area :body %>
  </div>
  <%= f.submit 'Update Book', class: "btn" %>
<% end %>
<div class="show-back">
  <%= link_to "Show", book_path(@book) %>
  <!--EditとBackの間の棒-->|
  <%= link_to "Back", books_path %>
</div>

